.logo {
  color: black;
  text-decoration: underline;
  border: 4px solid gold;
  border-radius: 15px;
  align-content: space-around;
  text-align: center;
  margin: 100px auto 100px auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn {
  background-color: gold;
}
